/*** Icon */
@font-face {
	font-family: 'portfolio';
	src: url('../font/portfolio.eot?13825667');
	src: url('../font/portfolio.eot?13825667#iefix') format('embedded-opentype'),
		url('../font/portfolio.woff2?13825667') format('woff2'),
		url('../font/portfolio.woff?13825667') format('woff'),
		url('../font/portfolio.ttf?13825667') format('truetype'),
		url('../font/portfolio.svg?13825667#portfolio') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	speak: none;
	line-height: 1;
	font-family: 'portfolio';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	speak: none;
	line-height: 1;
	font-family: 'portfolio';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: '\e800'; }
.icon-mail:before { content: '\e801'; }
.icon-facebook:before { content: '\e802'; }
.icon-play:before { content: '\e803'; }
.icon-tags:before { content: '\e804'; }
.icon-user:before { content: '\e805'; }
.icon-twitter:before { content: '\e806'; }
.icon-comment:before { content: '\e807'; }
.icon-calendar:before { content: '\e808'; }
.icon-lifebuoy:before { content: '\e809'; }
.icon-network:before { content: '\e80a'; }
.icon-arrow-right:before { content: '\e80b'; }
.icon-down-open:before { content: '\f004'; }
.icon-up-open:before { content: '\f005'; }
.icon-right-open:before { content: '\f006'; }
.icon-left-open:before { content: '\f007'; }
.icon-link:before { content: '\f07b'; }
.icon-money:before { content: '\f0d6'; }
.icon-angle-double-up:before { content: '\f102'; }
.icon-angle-double-down:before { content: '\f103'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-envelope-open-o:before { content: '\f2b7'; }
.icon-telegram:before { content: '\f2c6'; }
.icon-linkedin:before { content: '\f318'; }