/***********************************
MOUSE-CURSOR STYLES
***********************************/
// .mouse-cursor {
// 	top: 0;
// 	left: 0;
// 	position: fixed;
// 	visibility: hidden;
// 	pointer-events: none;
// 	@include border-radius(500px);
// 	@include transform(translateZ(0));

// 	&.cursor-inner {
// 		width: 6px;
// 		height: 6px;
// 		z-index: 1031;
// 		margin-top: -3px;
// 		margin-left: -3px;
// 		background-color: $danger;
// 		transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out, opacity 0.5s ease-in-out;

// 		&.cursor-hover {
// 			width: 50px;
// 			height: 50px;
// 			opacity: 0.3;
// 			margin-top: -40px;
// 			margin-left: -40px;
// 		    background: linear-gradient(to top, #d8edff 0%, #e5d5ff 100%);
// 		}
// 	}

// 	&.cursor-outer {
// 		width: 30px;
// 		opacity: 0.5;
// 		height: 30px;
// 		z-index: 1031;
// 		margin-top: -15px;
// 		margin-left: -15px;
// 		border: 2px solid $danger;
// 		@include transition(all 0.08s ease-out);

// 		&.cursor-hover {
// 			opacity: 0;
// 		}
// 	}
// }

    // <div class="preloader" id="preloader">
    //     <div class="preloader-inner">
    //         <div class="spinner">
    //             <div class="bounce1"></div>
    //             <div class="bounce2"></div>
    //             <div class="bounce3"></div>
    //         </div>
    //     </div>
    // </div>

/***********************************
PRELOADER-INNER STYLE
***********************************/
.preloader-inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 9999999999;
    align-items: center;
    justify-content: center;
    background-color: #000000;

    .cancel-preloader {
        right: 30px;
        bottom: 30px;
        position: absolute;

        a {
            height: 50px;
            width: 200px;
            display: block;
            color: #6930c3;
            font-weight: 600;
            line-height: 50px;
            text-align: center;
            border-radius: 30px;
            background-color: $white;
            text-transform: capitalize;
            @include transition(all 0.3s ease-in);

            &:hover, &:focus {
                color: $white;
                background-color: #221b68;
            }
        }
    }

 	.spinner {
     	width: 100%;
     	height: auto;
     	text-align: center;

     	> div {
			width: 15px;
			height: 15px;
			display: inline-block;
			background-color: $success;
			@include border-radius(500px);
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	    }

	    .bounce1 {
	        animation-delay: -0.50s;
	    	background-color: $primary;
	    }

	    .bounce2 {
	        animation-delay: -0.30s;
	        background-color: $danger;
	    }
	}
}

/***********************************
STICKY-CONTACT STYLE
***********************************/
.sticky-contact {
    bottom: 3%;
    z-index: 101;
    right: 40px;
    color: $white;
    width: 115px;
    height: 115px;
    display: flex;
    padding: 10px;
    position: fixed;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: #BBCAFF;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include border-radius(500px);
    @include transition(all 0.3s ease);
    animation: ripple-animation infinite 2s linear;
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.16));

    span {
        color: $black;
        display: block;
        font-weight: 700;
        font-family: $oswald;
        @include transition(all 0.3s ease);
    }

    i {
        display: block;
        color: $black;
        font-size: 32px;
        margin-bottom: 5px;
        @include transition(all 0.3s ease);
    }

    &:any-link {

        &:hover, &:focus {

            i {
                animation: shake 0.5s forwards;
            }

            span {
                text-decoration: underline;
            }
        }
    }
}

/***********************************
SCROLLDOWN STYLE
***********************************/
.scrollDown {
    border: 0;
    width: 62px;
    height: 80px;
    display: inherit;
    margin-top: 30px;
    text-align: center;
    position: relative;
    background: transparent;
    animation: 2s scrolldowns infinite;

    &:before {
        z-index: 1;
        color: $white;
        line-height: 0;
        font-size: 57px;
        position: relative;
    }

    &:after {
        left: 0;
        right: 0;
        bottom: 0;
        top: 20px;
        content: "";
        position: absolute;
        border: 2px solid #FFFFFF;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        @include transition(all 0.3s ease);
    }
}

/***********************************
PAGE-BANNER SCROLL STYLE
***********************************/
.scroll {
    top: 50%;
    left: 60px;
    z-index: 9;
    width: 100px;
    position: absolute;
    @include transform(translateY(-50%));


    span {
        top: -70px;
        font-weight: 500;
        position: absolute;
        margin-left: -23px;
        font-family: $oswald;
        display: inline-block;
        @include transform(rotate(-90deg));
    }

    &__scrolldown {
        border: 0;
        width: inherit;
        color: #292E31;
        height: inherit;
        font-size: 12px;
        z-index: inherit;
        border-radius: 0;
        line-height: 22px;
        text-align: inherit;
        background: transparent;

        &:before, &:after {
            display: none;
        }

        .icon {
            width: 30px;
            display: block;
            margin-top: 30px;

            img {
                animation: 2s scrolldowns infinite;
            }
        }

        &:hover, &:focus {
            background: transparent;
        }
    }
}

@keyframes pulse {
    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    70% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}