@media only screen and (max-width: 1480px) {

}/* 1480 */

@media only screen and (max-width: 1366px) {
	
}/* 1366 */

@media only screen and (max-width: 1199px) {

	/***********************************
	HOME STYLE
	***********************************/
	

}/* 1199 */

@media only screen and (max-width: 991px) {

	/***********************************
	ABOUT-AREA STYLE
	***********************************/
	.about-area {
	    padding: 70px 0;

	    .service {

	    	&__item {
			    padding: 15px;
			    min-height: 280px;
			    @include border-radius(10px);

			    .icon {
			    	max-width: 55px;
			    }
			}
	    }

	    .testimonial__slider {
		    padding: 20px;
		    @include border-radius(16px);

		    .testimonial-item {

		    	.text {

		    		.description {

		    			p {
		    				font-size: 20px;
		    				line-height: 30px;
		    			}
		    		}
		    	} 
		    }
		}
	}

	.my-resume {
		padding: 70px 0;

		.education {

			&__box {
			    padding: 25px 20px 30px;
			}
		}

		.skill-area {

			&__card {
			    padding: 25px 20px 35px;
			}
		}

		.video-section {

			.content {
			    margin-bottom: 30px;
			}
		}
	}

	.toggle-icon {
	    right: 15px;
	}

	.mainmenu-area {
		right: 15px;
	}

}/* 991 */

@media only screen and (max-width: 767px) {

	h1, .h1 {
	    font-size: 44px;
	    line-height: 54px;
	}

	h2, .h2 {
		font-size: 32px;
		line-height: 42px;
	}

	h3, .h3 {
	    font-size: 26px;
	    line-height: 36px;
	}

	.entry-title {
	    margin-bottom: 40px;
	}

	/***********************************
	HOME STYLE
	***********************************/
	.home {
		padding: 80px 0;
		display: inherit !important;

		.main-profile-image {
    		padding: 25px;
			margin-bottom: 50px;

			&:before {
			    @include transform(rotate(-34deg));
			}
		}
	}

	.about-area {

		&__info {

			.about-box__info {
				margin-bottom: 22px;
				padding-bottom: 20px;
				border-bottom: 0.5px solid #404040;
			}
		}
	}

	.about-area {
		padding-top: 60px;

		.testimonial {

			&__content {
				margin-bottom: 30px;
			}
		}

		.testimonial__slider {

		    .testimonial-item {

		    	.text {

		    		.description {
		    			max-width: 500px;
		    		}
		    	} 
		    }
		}
	}

	.my-resume {
		padding: 60px 0;

		.skill-area {

			&__card {

				.skill-bars {

					.skill-progress {

						.progressbar-wrap {
						    height: 10px;
						}
					}
				}
			}
		}

		.video-section {

			.resume-video {
				min-height: 400px;

				&:before {
				    width: 70px;
				    height: 70px;
				    font-size: 23px;
				    line-height: 70px;
				    top: calc(50% - 35px);
				    left: calc(50% - 35px);
				}
			}
		}
	}

	.portfolio {
		padding: 70px 0;

		&__item {

			.media {
				margin-bottom: 10px;
			}

			.details {
				padding: 15px;
				padding-top: 0;
			}
		}
	}

	.blogs {
		padding: 70px 0;

		&__item {

			.details {
				padding: 0px 20px 20px;

				.text {

					.title {
						margin-bottom: 0;
					}
				}
			}
		}
	}

}/* 767 */

@media only screen and (max-width: 575px) {

	h1, .h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.entry-title {
	    margin-bottom: 30px;
	}

	.mainmenu-area {
		top: 0;
		right: 0;
		border: 0;
	    width: 220px;
	    height: auto;
	    border-radius: 0;
	    box-shadow: none;
	    padding-bottom: 15px;

	    .my-navbar {

	    	.navbar-links {

	    		.mynav-item {
				    height: auto;
				    display: block;

				    &:not(:first-child) {
					    margin-left: 0;
					}

				    &:not(:last-child) {
					    margin-bottom: 20px;
					}
				}
	    	}
	    }
	}

	.toggle-icon {
	    top: 10px;
	    right: 15px;
	}

	/***********************************
	HOME STYLE
	***********************************/
	.home {
		padding: 60px 0;

		.main-profile-image {
			padding: 20px;
			margin-bottom: 40px;
		}

		.hero-box {

			.mybtn {
				width: 100%;
				text-align: center;
			}

			.short-info {

				p {
					letter-spacing: 0;
				}
			}
		}
	}

	.about-area {
		padding: 50px 0 60px;

		.service {

			&__item {
			    min-height: 250px;
			}
		}

		&__info {

			.about-box {

				&__info {

					.info-list__item {
					    flex: 100%;
					    width: 100%;
						display: flex;
						padding-left: 0;
						padding-right: 0;
						align-items: center;
					    padding-bottom: 10px;
						justify-content: space-between;
						border-bottom: 0.5px solid #404040;

						&:not(:last-child) {
						    margin-bottom: 10px;
						}
					}
				}
			}
		}

		.about-box {

			&__info {
			    border-bottom: 0;
			    margin-bottom: 0;
			    padding-bottom: 15px;
			}

			.minus {
			    margin-left: -25px;

				[class^=col] {
				    flex: 0 0 100%;
				    max-width: 100%;
				}
			}

			&__item {
				display: flex;
				margin-bottom: 0;
				padding-top: 15px;
				align-items: center;
				padding-bottom: 15px;
				border-bottom: 0.5px solid #404040;

				.top {
					margin-bottom: 0;
					display: inline-block !important; 

					.number {
						display: none;
					}

					.icon {
					    width: 70px;
					    height: 70px;
					    font-size: 30px;
					    line-height: 70px;
					}

					.number {
						margin-bottom: 0;
					}
				}

				.text {

					.number {
						display: block;
					}
				}
			}
		}
	}

	.my-resume {
		padding: 50px 0;

		.skill-area {

			&__card {

				.skill-bars {

					.skill-progress {

						.progressbar-wrap {
						    height: 6px;
						}
					}
				}
			}
		}

		.video-section {

			.resume-video {
				min-height: 350px;
				@include border-radius(16px);

				&:before {
				    width: 60px;
				    height: 60px;
				    font-size: 18px;
				    line-height: 60px;
				    top: calc(50% - 30px);
				    left: calc(50% - 30px);
				}
			}
		}

		.education__box-list {

			.single-education {

				.text {

					.collage-name {
					    margin-bottom: 0;
					}

					.description {
						margin-top: 5px;
					}
				}
			}
		}
	}

	.portfolio {
		padding: 60px 0;
	}

	.blogs {
		padding: 60px 0;
	}

}/* 575 */

@media only screen and (max-width: 480px) {

	/***********************************
	HOME STYLE
	***********************************/
	.home {
		padding: 50px 0;

		.main-profile-image {
			padding: 15px;
			margin-bottom: 30px;
		}
	}

	.about-area {

		.testimonial__slider {
		    padding: 15px 10px;
		    padding-bottom: 25px;

		    .testimonial-item {

		    	.text {

		    		.description {

		    			p {
						    font-size: 18px;
						    line-height: 28px;
						}
		    		}
		    	}
		    }
		}

		.testimonial {

			.slider-controls {
			    margin-top: 20px;
			}
		}

		.about-box {

			&__item {

				.top {

					.icon {
					    width: 65px;
					    height: 65px;
					    font-size: 25px;
					    line-height: 65px;
					}
				}
			}
		}
	}

	.my-resume {
		padding-top: 40px;

		.skill-area {

			&__card {
				padding: 20px 15px 30px;

				.skill-bars {

					.skill-progress {

						.progressbar-wrap {
						    height: 6px;
						}
					}
				}
			}
		}

		.video-section {

			.resume-video {
				min-height: 280px;

				&:before {
				    width: 50px;
				    height: 50px;
				    font-size: 18px;
				    line-height: 50px;
				    top: calc(50% - 25px);
				    left: calc(50% - 25px);
				}

				.text {
				    padding: 5px;
				}
			}
		}

		.education__box-list {

			.single-education {

				.text {

					.collage-name {
					    margin-bottom: 0;
					}

					.description {
						margin-top: 5px;
					}
				}
			}
		}

		.education__box {
		    padding: 20px 12px 25px;
		}
	}

	.portfolio {
		padding: 50px 0;

		&__item {

			.details {
				padding: 10px;
				padding-top: 0;
			}
		}
	}

	.blogs {
		padding: 50px 0;

		&__item {

			.details {
			    padding: 0px 15px 15px;

			    .post-meta {
			    	padding: 4px 0;
			    	margin-top: -35px;
			    }
			}
		}
	}

}/* 480 */

@media only screen and (max-width: 380px) {
	body {
		font: 400 16px/26px 'brandon-grotesque', sans-serif;
	}

	h5, .h5 {
	    font-size: 16px;
	    line-height: 26px;
	}
	
	/***********************************
	HOME STYLE
	***********************************/
	.home {

		.main-profile-image {
			padding: 10px;
		}
	}

	.about-area {

		&__info {

			.about-box__info {

				.info-list {

					&__item {

						.title {
							font-size: 16px;
							line-height: 26px;
						}

						.value {
						    margin-left: 0;
						    font-size: 16px;
						    line-height: 26px;
						}
					}
				}
			}
		}

		.about-box {

			&__item {

				.top {

					.icon {
					    width: 60px;
					    height: 60px;
					    font-size: 22px;
					    line-height: 60px;
					}
				}
			}
		}

		.testimonial__slider {

			.testimonial-item {

				.text {

					.description {

						p {
						    font-size: 16px;
						    line-height: 26px;
						}
					}
				}
			}
		}
	}

	.my-resume {

		.video-section {

			.resume-video {
			    min-height: 230px;
			}
		}
	}

}/* 380 */