/***********************************
MOUSE-CURSOR STYLES
***********************************/
// .mouse-cursor {
// 	top: 0;
// 	left: 0;
// 	position: fixed;
// 	visibility: hidden;
// 	pointer-events: none;
// 	@include border-radius(500px);
// 	@include transform(translateZ(0));

// 	&.cursor-inner {
// 		width: 6px;
// 		height: 6px;
// 		z-index: 1031;
// 		margin-top: -3px;
// 		margin-left: -3px;
// 		background-color: $danger;
// 		transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out, opacity 0.5s ease-in-out;

// 		&.cursor-hover {
// 			width: 50px;
// 			height: 50px;
// 			opacity: 0.3;
// 			margin-top: -40px;
// 			margin-left: -40px;
// 		    background: linear-gradient(to top, #d8edff 0%, #e5d5ff 100%);
// 		}
// 	}

// 	&.cursor-outer {
// 		width: 30px;
// 		opacity: 0.5;
// 		height: 30px;
// 		z-index: 1031;
// 		margin-top: -15px;
// 		margin-left: -15px;
// 		border: 2px solid $danger;
// 		@include transition(all 0.08s ease-out);

// 		&.cursor-hover {
// 			opacity: 0;
// 		}
// 	}
// }

/***********************************
PRELOADER-INNER STYLE
***********************************/
.preloader-inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 9999999999;
    align-items: center;
    justify-content: center;
    background-color: #000000;

    .cancel-preloader {
        right: 30px;
        bottom: 30px;
        position: absolute;

        a {
            height: 50px;
            width: 200px;
            display: block;
            color: #6930c3;
            font-weight: 600;
            line-height: 50px;
            text-align: center;
            border-radius: 30px;
            background-color: $white;
            text-transform: capitalize;
            @include transition(all 0.3s ease-in);

            &:hover, &:focus {
                color: $white;
                background-color: #221b68;
            }
        }
    }

 	.spinner {
     	width: 100%;
     	height: auto;
     	text-align: center;

     	> div {
			width: 15px;
			height: 15px;
			display: inline-block;
			background-color: $success;
			@include border-radius(500px);
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	    }

	    .bounce1 {
	        animation-delay: -0.50s;
	    	background-color: $primary;
	    }

	    .bounce2 {
	        animation-delay: -0.30s;
	        background-color: $danger;
	    }
	}
}

/***********************************
STICKY-CONTACT STYLE
***********************************/
.sticky-contact {
    bottom: 3%;
    z-index: 11;
    right: 40px;
    color: $white;
    width: 115px;
    height: 115px;
    display: flex;
    padding: 10px;
    position: fixed;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: #BBCAFF;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include border-radius(500px);
    @include transition(all 0.3s ease);
    filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.16));

    span {
        color: $black;
        display: block;
        font-weight: 700;
        font-family: $oswald;
        @include transition(all 0.3s ease);
    }

    i {
        display: block;
        color: $black;
        font-size: 32px;
        margin-bottom: 5px;
        @include transition(all 0.3s ease);
    }

    &:any-link {

        &:hover, &:focus {

            i {
                animation: shake 0.5s forwards;
            }

            span {
                text-decoration: underline;
            }
        }
    }
}

/***********************************
SCROLLDOWN STYLE
***********************************/
.scrollDown {
    border: 0;
    top: -40px;
    z-index: 1;
    width: 80px;
    height: 80px;
    color: $black;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    position: absolute;
    background: #BBCAFF;
    @include border-radius(500px);
    @include transition(all 0.3s ease);
    filter: drop-shadow(0px 6px 24px rgba(0, 0, 0, 0.06));

    span {
        display: block;
        @include transition(all 0.3s ease);
    }

    &:hover {
        color: $white;
        background: #4032B9;

        span {
            @include transform(translateY(5px));
        }
    }
}

.ball-primary {
    /* width: 250px; */
    /* margin: 0 auto; */
    top: 25px;
    left: -320px;
    position: absolute;

    .primary {
        // top: 50%;
        width: 12px;
        height: 7px;
        margin-top: -17px;
        position: absolute;
        background-color: #A749FF;
        @include border-radius(15px 15px 0px 0px);

        &.motion-blur {
            animation: primary 7s ease-in-out infinite;
        }
    }
}

.ball-secondary {
    /* width: 250px; */
    /* margin: 0 auto; */
    top: 21%;
    left: -166px;
    position: absolute;

    .secondary {
        // top: 50%;
        width: 7px;
        height: 7px;
        margin-top: -21px;
        position: absolute;
        background-color: #839FF7;
        @include border-radius(500px);

        &.motion-blur {
            animation: secondary 9s ease-in-out infinite;
        }
    }
}

.ball-red {
    /* width: 250px; */
    /* margin: 0 auto; */
    top: 21%;
    left: -166px;
    position: absolute;

    .red {
        // top: 50%;
        width: 7px;
        height: 7px;
        margin-top: -21px;
        position: absolute;
        background-color: #FF499A;
        @include border-radius(500px);

        &.motion-blur {
            animation: secondary 11s ease-in-out infinite;
        }
    }
}

.ball-danger {
    /* width: 250px; */
    /* margin: 0 auto; */
    top: 38%;
    left: -119px;
    position: absolute;

    .danger {
        // top: 50%;
        width: 13px;
        height: 6px;
        margin-top: -21px;
        position: absolute;
        background-color: #FF499A;
        @include border-radius(0px 0px 15px 15px);

        &.motion-blur {
            animation: danger 14s ease-in-out infinite;
        }
    }
}

@keyframes primary {

    0% {
        left: 0;
        box-shadow: 0 0 0 rgba(145,183,250,0);
    }

    5% {
        left: 0;
        transform-origin: 0 0;
        transform: scaleX(0.85);
    }

    25% {
        box-shadow: -20px 0 15px -10px rgba(145,183,250,0.4);
        transform: scaleX(1.05) skewX(-3deg);
    }

    50% {
        left: 25px;
        box-shadow: 0 0 0 rgba(145,183,250,0);
        transform: scaleX(1) skewX(0deg);
    }

    55% {
        left: 25px;
        transform-origin: 100% 0;
        transform: scaleX(0.9);
    }

    75% {
        box-shadow: 20px 0 15px -10px rgba(145,183,250, 0.4);
        transform: scaleX(1.05) skewX(3deg);
    }


    100% {
        left: 0px;
        box-shadow: 0 0 0 rgba(145,183,250,0);
        transform: scaleX(1) skewX(0deg);
    }
}

@keyframes secondary {

    0% {
        top: 0;
        box-shadow: 0 0 0 rgba(145,183,250,0);
    }

    5% {
        top: 0;
        transform-origin: 0 0;
        transform: scaleX(0.85);
    }

    25% {
        box-shadow: -20px 0 15px -10px rgba(145,183,250,0.4);
        transform: scaleX(1.05) skewX(-3deg);
    }

    50% {
        top: 25px;
        box-shadow: 0 0 0 rgba(145,183,250,0);
        transform: scaleX(1) skewX(0deg);
    }

    55% {
        top: 25px;
        transform-origin: 100% 0;
        transform: scaleX(0.9);
    }

    75% {
        box-shadow: 20px 0 15px -10px rgba(145,183,250, 0.4);
        transform: scaleX(1.05) skewX(3deg);
    }


    100% {
        top: 0px;
        box-shadow: 0 0 0 rgba(145,183,250,0);
        transform: scaleX(1) skewX(0deg);
    }
}

@keyframes danger {

    0% {
        top: 0;
        // box-shadow: 0 0 0 rgba(145,183,250,0);
    }

    5% {
        top: 0;
        transform-origin: 0 0;
        transform: scaleX(0.85);
    }

    25% {
        // box-shadow: -20px 0 15px -10px rgba(145,183,250,0.4);
        transform: scaleX(1.05) skewX(-3deg);
    }

    50% {
        top: 25px;
        // box-shadow: 0 0 0 rgba(145,183,250,0);
        transform: scaleX(1) skewX(0deg);
    }

    55% {
        top: 25px;
        transform-origin: 100% 0;
        transform: scaleX(0.9);
    }

    75% {
        // box-shadow: 20px 0 15px -10px rgba(145,183,250, 0.4);
        transform: scaleX(1.05) skewX(3deg);
    }


    100% {
        top: 0px;
        // box-shadow: 0 0 0 rgba(145,183,250,0);
        transform: scaleX(1) skewX(0deg);
    }
}


.clocks {
    display: none;

    .clock {
        left: 380px;
        bottom: 40px;
        width: 200px;
        height: 200px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border: 4px solid #ffa500;
        @include border-radius(500px);
        background-size: cover !important;
        @include transition(all 0.3s ease);
        background-position: center center !important;
        background-image: url("../images/clockimg.png");
        box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);

        &:before {
            content: "";
            width: 12px;
            height: 12px;
            z-index: 1000;
            position: absolute;
            border: 2px solid $white;
            background-color: #ffa500;
            @include border-radius(500px);
            @include transition(all 0.3s ease);
        }

        .hour {
            width: 5px;
            height: 115px;

            &:before {
                width: 5px;
                content: "";
                height: 50%;
                position: absolute;
                @include border-radius(5px);
                background-color: $secondary;
            }
        }


        .min {
            width: 135px;
            height: 135px;

            &:before {
                width: 3px;
                content: "";
                height: 50%;
                background-color: #888888;
                @include border-radius(5px);
            }
        }

        .hour, .min, .sec {
            display: flex;
            position: absolute;
            justify-content: center;
            @include border-radius(500px);
        }



        .sec {
            width: 155px;
            height: 155px;

            &:before {
                content: "";
                width: 2px;
                height: 60%;
                @include border-radius(2px);
                background-color: rgb(255, 153, 0);
            }
        }
    }
}