/***********************************
HEADER STYLES
***********************************/
.scroll-down {

    .header {

        &:not(.sticky) {
            @include transform(translate3d(0, -100%, 0));
        }
    }
}

.header-gutter {
    height: 129.72px;
    min-height: 129.72px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
    position: fixed;
    background: #FFF;
    padding: 24px 0;
    @include transition(all 0.5s ease);

    .container {
        position: initial;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar {
        padding: 0;

        .navbar-header {

            .navbar-brand {
                margin: 0;
                padding: 0;

                img {
                    max-width: 220px;
                    @include transition(all 0.3s ease);
                }
            }
        }

        .navbar-collapse {

            .navbar-nav {
                align-items: center;

                > li {
                    padding: 0;

                    &:not(:first-child) {
                        margin-left: 40px;
                    }

                    > a {
                        color: $black;
                        display: block;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 28px;
                        position: relative;
                        @include letter-spacing(30, 18);
                        @include transition(all 0.3s ease);

                        &:before {
                            left: 0;
                            right: 0;
                            height: 3px;
                            width: 100%;
                            content: '';
                            bottom: -6px;
                            position: absolute;
                            background-color: $danger;
                            @include transform(scaleX(0));
                            @include transition(all .3s ease);
                        }
                        
                        &:hover {
                            
                            &:before {
                                @include transform(scaleX(1));
                            }
                        }
                    }

                    &.btn-menu {
                        margin-left: 20px;

                        a {
                            color: #FFF;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 28px;
                            text-align: center;
                            background: $danger;
                            display: inline-block;
                            padding: 14px 36px 16px;
                            @include border-radius(5px);
                            @include letter-spacing(30, 18);

                            &:after {
                                left: 0;
                                bottom: 0;
                                content: '';
                                width: 100%;
                                z-index: -2;
                                height: 100%;
                                position: absolute;
                                background-color: $danger;
                                @include border-radius(5px);
                            }

                            &:before {
                                left: 0;
                                bottom: 0;
                                width: 0%;
                                z-index: -1;
                                content: '';
                                height: 100%;
                                position: absolute;
                                background-color: $black;
                                @include border-radius(5px);
                                @include transition(all 0.9s in-ease);
                            }

                            &:hover {
                                color: #fff;

                                &:before {
                                    width: 100%;
                                }   
                            }
                        }
                    }
                }

                &.navbar-nav--right {

                    .mobile-navbar-toggler {
                        display: none;
                        margin-left: 20px;

                        a {

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &.transparent {
        background-color: transparent;
    }

    &.stop {
        padding: 10px 0;
        background: #FFF;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);

        .navbar {

            .navbar-header {

                .navbar-brand {

                    img {
                        max-width: 170px;
                        @include transition(all 0.9s ease);
                    }
                }
            }
        }
    }
}

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    width: 25px;
    display: block;
    border-radius: 0;
    overflow: inherit;
    background: transparent;

    &:hover {

        .icon-bar {

            &:nth-child(1) {
                @include transform(translateY(-2px));
            }

            &:nth-child(3) {        
                @include transform(translateY(2px));
            }
        }
    }

    &:hover, &:focus {

        &:before {
            opacity: 1;
            @include transform(translateX(0));
        }
    }

    &.in {

        .icon-bar {
            @include transition(transform 150ms linear 150ms);

            &:nth-child(1) {
                @include transform(translateY(8px) rotate(45deg));
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {    
                @include transform(translateY(-8px) rotate(-45deg));
            }
        }
    }

    .icon-bar {
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 500px;
        background-color: #062D65;
        transition: transform 150ms linear 150ms;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.sidr {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999999;
    position: fixed;
    max-width: 300px;
    overflow-y: auto;
    background: #FFF;
    overflow-x: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

    &.right {
        left: auto;
        right: -100%;
    }

    &.left {
        left: -100%;
        right: auto;
    }

    .sidr-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 30px 50px;

        .mobile-header {
          display: block !important;
        }

        .navbar-header {
            padding: 0;
            padding-bottom: 30px;
            border-bottom: 1px solid #1D2A45;

            .navbar-brand {

                svg, img {
                    max-width: 140px;
                }
            }
        }
    }

    .navigation {

        .gc-mobile-nav {
            overflow: hidden;
            @include transition(all 500ms ease);
        }

        .navbar-nav {
            position: relative;

            > li {
                width: 100%;
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid $black;

                > a {
                    display: block;
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                    line-height: 24px;
                    @include transition(all 0.5s ease);

                    &.dropdown-toggle {

                        &:after {
                            display: none;
                        }
                    }

                    &:hover {
                        color: $danger;
                    }
                }
            }
        }
    }
}