/***********************************
HEADER STYLES
***********************************/
.scroll-down {

	.header {

		&:not(.sticky) {
	    	@include transform(translate3d(0, -100%, 0));
		}
	}
}

.header-gutter {
	height: 60px;
	min-height: 60px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: 1030;
	position: fixed;
    background: $white;
    @include transition(all 0.5s ease);
    box-shadow: 0px 3px 6px rgba(156, 95, 95, 0.16);

    &.transparent {
    	background: transparent;
    }

    .navbar {
    	padding: 11.18px 0;
    	@include transition(all 0.5s ease);

    	.container {
    		padding-left: 15px;
    		padding-right: 15px;
    	}

    	.navbar-header {

    		.logo {
    			float: left;

    			.navbar-brand {
    				margin: 0;
    				padding: 0;
    				
    				img {
    					@include transition(all 0.3s ease);
    				}
    			}
    		}

    		.navbar-toggler {
    			border: 0;
    			float: left;
    			width: 80px;
    			padding: 31px 30px;
    			background: transparent;
    		}
    	}

    	.navbar-collapse {

    		.navbar-nav {
    			padding: 0;
    			margin-left: -12px;
    			margin-right: -12px;
    			align-items: center;

    			> li {
    				padding: 0;
    				margin-left: 12px;
    				margin-right: 12px;

    				> a {
    					color: $black;
    					display: block;
    					font-size: 14px;
    					font-weight: 600;
    					line-height: 14px;
    					text-decoration: none;
    					@include letter-spacing(-30, 14); 
    					@include transition(all 0.3s ease);
    				}

    				&.menu-btn {
    					
    					a {
    						color: $white;
    						display: block;
    						font-size: 14px;
    						font-weight: 700;
    						line-height: 14px;
    						background: $primary;
    						padding: 10px 17px 10px;
    						@include border-radius(500px);
    						@include letter-spacing(-30, 12);
    						@include transition(all 0.3s ease);
    						box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.12);

    						&:hover, &:focus {
    							color: $white;
    							background: $base;
    						}
    					}
    				}

					&.current-menu-ancestor, &.active, &:hover, &:focus {

						a {
							color: $red;
						}
					}
    			}

    			&.navbar-nav-right {

    				li {

    					&.mobile-navbar-toggler {
    						margin-left: 0;
    					}
    				}
    			}
    		}
    	}
    }

    &.stop {
    	background: $white;
    }
}

.sidr {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999999;
    position: fixed;
    max-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #F0F8FF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.12);

    &.right {
	    left: auto;
	    right: -100%
	}

	&.left {
	    left: -100%;
	    right: auto
	}

	.sidr-inner {

		.mobile-header {
			display: block !important;
		}

	    .navbar-header {
	    	padding: 12px 15px 11px;
	    	border-bottom: 1px solid rgba($base, 0.1);
	    	@include align-center('vertical');

	    	.logo {
	    		padding-right: 15px;

	    		.navbar-brand {
	    			margin: 0;
	    			padding-top: 0;
	    			padding-bottom: 0;
	    		}
	    	}

	    	.navbar-toggle {
	    		display: block;
	    	}
	    }

		.navigation {

			.gc-mobile-nav {
				overflow: hidden;
				@include transition(all 500ms ease);
			}

			.navbar-nav {
				padding: 0;
				position: relative;

				> li {
					padding: 15px;
					border-bottom: 1px solid rgba($base, 0.1);

					> a {
						color: $black;
    					display: block;
    					font-size: 14px;
    					font-weight: 600;
    					line-height: 14px;
    					text-decoration: none;
    					@include letter-spacing(-30, 14); 
    					@include transition(all 0.3s ease);
    				}

    				&.menu-btn {
    					
    					a {
    						color: $white;
    						display: block;
    						font-size: 12px;
    						font-weight: 700;
    						line-height: 12px;
    						text-align: center;
    						background: $primary;
    						border-radius: 600px;
    						padding: 10px 11.46px 10px;
    						@include letter-spacing(-30, 12);
    						@include transition(all 0.3s ease);
    						box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.12);
    					}

    					&.current-menu-ancestor, &:hover, &:focus {

							> a {
								color: $white !important;
    							background: $base !important;
							}
						}
    				}

					&.current-menu-ancestor, &:hover, &:focus {

						> a {
							color: $red;
						}
					}
				}
			}
		}
	}
}

.navbar-toggle {
	margin: 0;
    border: 0;
    width: 32px;
    height: 32px;
    padding: 10px;
    display: block;
    overflow: inherit;
    background: $primary;
    @include border-radius(500px);
    @include transition(all 0.3s ease);
    box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.16);

    &:hover {
    	background: $base;

		.icon-bar {

    		&:nth-child(1) {
        		@include transform(translateY(-1px));
        	}

        	&:nth-child(3) {		
				@include transform(translateY(1px));
        	}
        }
	}

    &:hover, &:focus {

    	&:before {
			opacity: 1;
			@include transform(translateX(0));
    	}
    }

    &.in {

    	.icon-bar {
			@include transition(transform 150ms linear 150ms);

			&:nth-child(1) {
				@include transform(translateY(5px) rotate(45deg));
        	}

        	&:nth-child(2) {
        		opacity: 0;
        	}

        	&:nth-child(3) {	
        		@include transform(translateY(-5px) rotate(-45deg));
        	}
		}
    }

    .icon-bar {
    	width: 100%;
    	height: 2px;
    	display: block;
    	background-color: $white;
    	@include border-radius(1px);
	    @include transition(transform 150ms linear 150ms);

	    &:not(:last-child) {
	   		margin-bottom: 3px;
	    }
    }
}