@media only screen and (max-width: 1366px) {
	/***********************************
	HEADER STYLE
	***********************************/
}/* 1366 */

@media only screen and (max-width: 1199px) {
	h1, .h1 {
		font-size: 56px;
		line-height: 66px;
	}

	.border-right {
	    border-bottom-right-radius: 90px !important;
	}

	/***********************************
	HEADER STYLE
	***********************************/
	.header {

		.navbar {

			.navbar-collapse {

				.navbar-nav {

					> li {

						&.personal-desktop-menu {

							> .dropdown-menu {

								li {

									&.dropdown {

										> a {
											font-size: 16px;
											line-height: 26px;
										    margin-bottom: 15px;
										}

										.dropdown-menu {

											li {

												&:not(:last-child) {
												    margin-bottom: 10px;
												}

												a {
												    font-size: 14px;
												    line-height: 18px;
												}
											}
										}
									}

									&.has-image {

										a {
										    padding: 25px;
										}
									}

									&.has-description {

										a {

											.btn {
											    margin-top: 15px;
											    padding: 9px 25px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.special {

		.swiper-container {
			margin-right: auto;

			.swiper-wrapper {

				.swiper-slide {
					// width: 365px !important;
				}
			}
		}

		&__content {
			margin-bottom: 50px;

			.swiper_nav {
				right: 15px;
				left: inherit;
				top: 40px !important;
				// bottom: inherit !important;
			}
		}
	}

	.about-page-banner {
	    padding-bottom: 80px;
	}

	.happy-customers {
	    padding: 80px 0;
	}

	.my-services {
		padding: 80px 0;
	}

	.skills {
	    padding: 80px 0;
	}

}/* 1199 */

@media only screen and (max-width: 1100px) {

	.banner {
		min-height: 650px;

		&__media {
		    top: -250px;
		}

		&__content {
			margin-top: 30px;
		}
	}
}

@media only screen and (max-width: 991px) {
	h1, .h1 {
		font-size: 48px;
		line-height: 60px;
	}

	h2, .h2 {
		font-size: 42px;
		line-height: 52px;
	}

	.page-header {
		padding-top: 102px;
	}

	.border-right {
	    border-bottom-right-radius: 70px !important;
	}

	/***********************************
	HEADER STYLE
	***********************************/
	.header {

		.navbar {

			.navbar-header {

				.navbar-brand {

					img, svg {
					    max-width: 200px;
					}
				}
			}
		}
	}

	.navbar-toggle {
		padding: 14px 18px 14px 19px;

		&:before {
		    font-size: 13px;
		    line-height: 14px;
		}
	}

	.header-gutter {
		height: 102px;
		min-height: 102px;
	}

	.banner {

		&__content {
			max-width: 650px;
			margin-top: 50px;

			.description {
				margin-top: 10px;
			}
		}

		&__media {
		    top: -554px;
		    right: -30px;
		}
	}

	/***********************************
	CALL-ACTION STYLE
	***********************************/
	.call-action {
		padding: 70px 0;

		.background {
		    padding: 40px;
		}
	}

	/***********************************
	BLOG STYLE
	***********************************/

	.solutions-blog {
		padding: 30px 0 70px;
	}

	.blog-detail-page-banner {
		padding-bottom: 70px;

		&__media {
			margin-top: 50px;
		}
	}

	.blog-page {
		padding-bottom: 70px;

		.content-area {
		    max-width: 100%;
		    margin-bottom: 50px;

		    .blog-posts {

		    	.blog-post {

		    		&__text {
					    max-width: 100%;
					}
		    	}
		    }
		}

		&__search-form {
		    margin-bottom: 45px;

		    .form-group {

		    	input[type=search] {
				    padding: 20px 30px !important;
				}
		    }
		}
	}

	.special {

		&__content {
		    max-width: 100%;

		    .btn {
		    	margin-top: 20px;
		    }
		}

		.swiper-container {

			.swiper-wrapper {

				.swiper-slide {

					&__item {

						.text {

							.border {

								.number {
								    padding-top: 10px;
								    padding-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	.blog {

		.content {

			.description {
			    margin-top: 15px;
			}
		}
	}

	.single-team-member {
		padding: 70px 0;

		&__media {
			@include border-radius(16px);
		}

		&__content {

			.content__editor {

				P {
				    margin: 0 0 25px !important;
				}
			}
		}
	}

	.about-page-banner {
	    padding-bottom: 70px;

	    .entry-title {
		    max-width: 100%;
		}
	}

	.happy-customers {
	    padding: 70px 0;
	}

	.about {
		padding: 70px 0;

		&__content {
			margin-bottom: 30px;
		}
	}

	.video-box {
		padding: 70px 0;

		&__content {
			margin-top: 30px;
		}
	}

	.latest-post {
	    padding: 70px 0;

	    &__item {

	    	.text {
	    		padding: 10px;

	    		.title {
	    			margin-bottom: 0;
	    		}
	    	}
	    }
	}

	.team-members {
	    padding: 70px 0;	}

	/***********************************
	CONTACT STYLE
	***********************************/
	.my-services {
		padding: 70px 0;

		.row {

			[class^=col] {
			    
			    &:last-child {
			    	flex: 0 0 100%;
			    	max-width: 100%;
			    }
			}
		}

		&__item {
			padding: 40px 25px;

			.icon {
				top: -15%;
			}

			.content {
			    margin-top: 0;
			}
		}

		.entry-title {
			margin-bottom: 50px;
		}
	}

	.skills {
		padding: 70px 0;

		&__content {
			margin-bottom: 30px;
		}
	}

	.services {
		padding: 70px 0;
	}

	.contact-us {
		padding-bottom: 70px;

		&__content {

			.sub-title {
			    margin-bottom: 10px;
			}

			.title {
			    margin-bottom: 15px;
			}
		}

		&__form {
		    margin-left: 0;
		    max-width: 100%;
			margin-top: 50px;
		}
	}

	/***********************************
	FOOTER STYLE
	***********************************/
	.footer {
		padding: 70px 0;

		&__logo {
			max-width: 230px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}

		&__widget-menu {
			text-align: center;
		}
	}

}/* 991 */

@media only screen and (max-width: 767px) {
	h1, .h1 {
		font-size: 42px;
		line-height: 52px;
	}

	h2, .h2 {
		font-size: 36px;
		line-height: 44px;
	}

	h3, .h3 {
		font-size: 30px;
		line-height: 36px;
	}

	h4, .h4 {
		font-size: 24px;
		line-height: 30px;
	}

	h5, .h5 {
		font-size: 20px;
		line-height: 28px;
	}

	section {
		padding: 40px 0;
	}

	.btn {
	    font-size: 14px;
	    line-height: 22px;
	    padding: 10px 25px;
	}

	.page-header {
		padding-top: 88px;
	}

	/***********************************
	HEADER STYLE
	***********************************/
	.header {

		.navbar {
			padding: 25px 0;

			.navbar-header {

				.navbar-brand {

					img, svg {
					    max-width: 180px;
					}
				}
			}
		}
	}

	.navbar-toggle {
		width: 100px;
		padding: 12px 16px 12px 16px;
	}

	.header-gutter {
		height: 88px;
		min-height: 88px;
	}

	/***********************************
	CALL-ACTION STYLE
	***********************************/
	.call-action {
		padding: 60px 0;

		.background {
		    padding: 30px;
		}
	}

	/***********************************
	BLOG STYLE
	***********************************/

	.blog-detail-page-banner {
		padding-bottom: 60px;

		&__media {
			margin-top: 40px;
		}
	}

	.blog-page {
		padding: 60px 0;

		.blog-post {

			.content__editor {

				p {

				}
			}
		}

		&__search-form {
		    margin-bottom: 35px;

		    .form-group {

		    	input[type=search] {
				    padding: 8px 30px 15px !important;
				    @include placeholder($primary, 18px, 400);
				}

				button {
				    font-size: 18px;
				    line-height: 21px;
				}
		    }
		}
	}

	.solutions-blog {
		padding-bottom: 60px;
	}

	.special {
		padding-top: 60px;

		&__content {

			.swiper_nav {

				.arrow {
				    width: 45px;
				    height: 45px;

				    span {
				    	font-size: 12px;
				    }
				}
			}
		}
	}

	.about-page-banner {
	    padding-bottom: 60px;
	}

	.happy-customers {
	    padding: 60px 0;

	    .entry-title {
	    	margin-bottom: 40px;
	    }

	    .happy-customers-slider {

	    	.swiper-wrapper {

	    		.swiper-slide {

	    			&__item {
					    padding: 20px;
					    min-height: 350px;
					    border: 6px solid currentColor;
					}
	    		}
	    	}

	    	.swiper-pagination {

	    		&-bullet {
				    width: 16px;
				    height: 16px;
				}
	    	}
	    }
	}

	.about {
		padding: 60px 0;

		&__content {
			margin-bottom: 30px;
		}

		.slick-dots {

			li {
    			width: 16px;
			    height: 16px;
			}
		}
	}

	.video-box {
		padding: 60px 0;
	}

	.latest-post {
	    padding: 60px 0;
	}

	.team-members {
	    padding: 60px 0;

	    &__item {

	    	.media {
	    		@include border-radius(16px);
	    	}
	    }
	}

	.banner {
		padding-top: 88px;

		&__content {
			max-width: 100%;
		}

		&__media {
			top: 0;
			right: 0;
		    position: inherit;
		}
	}

	.my-services {
		padding: 60px 0;

		&__item {
			padding: 25px;

			.icon {
				top: -9%;
			}
		}

		.entry-title {
			margin-bottom: 40px;
		}
	}

	.skills {
		padding: 60px 0;
	}

	.services {
		padding: 60px 0;
	}

	/***********************************
	CONTACT STYLE
	***********************************/

	.contact-us {
		padding: 30px 0 60px;

		&__content {

			.sub-title {
			    margin-bottom: 5px;
			}

			.title {
			    margin-bottom: 10px;
			}

			.socail-media {

				li {
				    margin-bottom: 15px;
				}
			}
		}

		&__form {
			margin-top: 40px;
		}
	}

	.socail {
	    padding: 60px 0;

	    &__title {
	    	margin-bottom: 25px;
	    }

	    &__media {
	    	margin-left: -3px;
	    	margin-right: -3px;

	    	li {
	    		padding-left: 3px;
    			padding-right: 3px;

	    		a {
	    			width: 60px;
	    			height: 60px;
	    			font-size: 20px;
	    		}
	    	}
	    }
	}

	.single-team-member {
		padding: 60px 0;

		&__media {
			margin-bottom: 30px;
		}

		&__content {
			max-width: 100%;
		}

		.pagination {
			margin-top: 40px;
		}
	}

	/***********************************
	FOOTER STYLE
	***********************************/
	.footer {
		padding: 60px 0;

		&__widget-menu {

			li {

				&:not(:first-child) {
				    margin-left: 20px;
				}
			}

			&-nav {
				margin-bottom: 50px;

				&:not(:last-child) {
					margin-bottom: 50px;
				}
			}
		}

		&__widget {
		    margin-bottom: 30px;

		    .form {

		    	.form-group {
		    		margin-bottom: 20px;

		    		.form-control {
					    padding-bottom: 10px !important;
					}
		    	}
		    }
		}

		&__social-media {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}

}/* 767 */

@media only screen and (max-width: 575px) {
	h1, .h1 {
		font-size: 34px;
		line-height: 38px;
	}

	h2, .h2 {
		font-size: 30px;
		line-height: 36px;
	}

	h3, .h3 {
		font-size: 24px;
		line-height: 30px;
	}

	h4, .h4 {
		font-size: 20px;
		line-height: 28px;
	}

	h5, .h5 {
		font-size: 18px;
		line-height: 26px;
	}

	h6, .h6 {
		font-size: 16px;
		line-height: 24px;
	}

	section {
		padding: 30px 0;
	}

	.page-header {
		padding-top: 78px;
	}

	/***********************************
	HEADER STYLE
	***********************************/
	.header {

		.navbar {
			padding: 20px 0;

			.navbar-header {

				.navbar-brand {

					img, svg {
					    max-width: 160px;
					}
				}
			}
		}
	}

	.header-gutter {
		height: 78px;
		min-height: 78px;
	}
	/***********************************
	CALL-ACTION STYLE
	***********************************/
	.call-action {
		padding: 50px 0;

		.background {
		    padding: 20px;
		}
	}

	.banner {
		padding-top: 78px;

		&__content {

			.description {

				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}

	/***********************************
	BLOG STYLE
	***********************************/

	.blog-detail-page-banner {
		padding-bottom: 50px;

		&__media {
			margin-top: 30px;
		}
	}

	.blog-page {
		padding: 50px 0;

		.content-area {

			.blog-post {

				.content__editor {

					p {
					    margin: 0 0 20px !important;
					}
				}
			}
		}

		.pagination {

			.socail-media {
			    margin-top: 30px;
			}
		}

		&__search-form {
		    margin-bottom: 30px;
		}
	}

	.blog-page {

		.content-area {

			.blog-posts {

				&__media {
					max-width: 100%;
					min-width: 100%;
					margin-bottom: 15px;
				}
			}
		}
	}

	.solutions-blog {
	    padding: 25px 0 50px;

	    &__content {
		    margin-bottom: 20px;
		}
	}

	.special {

		.swiper-container {

			.swiper-wrapper {

				.swiper-slide {

					&__item {

						.text {

							.border {

								.title {
								    margin-bottom: 5px;
								}
							}
						}
					}
				}
			}
		}
	}

	.about-page-banner {
	    padding-bottom: 50px;
	}

	.happy-customers {
	    padding: 50px 0;

	    .happy-customers-slider {

	    	.swiper-wrapper {

	    		.swiper-slide {

	    			&__item {
					    min-height: 300px;
					}
	    		}
	    	}

	    	.swiper-pagination {

	    		&-bullet {
				    width: 14px;
				    height: 14px;
				}
	    	}
	    }
	}

	.about {
		padding: 50px 0;

		.slick-dots {

			li {
    			width: 14px;
			    height: 14px;
			}
		}
	}

	.video-box {
		padding: 50px 0;
	}

	.latest-post {
	    padding: 50px 0;
	}

	.team-members {
	    padding: 50px 0;
	}

	.Portfolio-video {
	    min-height: 380px;
	    @include border-radius(16px);

	    &.popup-video {

	    	&:before {
			    width: 80px;
			    height: 80px;
			    font-size: 22px;
			    line-height: 80px;
			    top: calc(50% - 40px);
			    left: calc(50% - 40px);
			}
	    }
	}

	.my-services {
		padding: 50px 0;

		&__item {
			padding: 20px;
			@include border-radius(16px);

			.icon {
				top: -8%;
			}
		}
	}

	.skills {
		padding: 50px 0;
	}

	.services {
		padding: 50px 0;
	}

	/***********************************
	CONTACT STYLE
	***********************************/

	.contact-us {
		padding: 25px 0 50px;

		&__content {

			.title {
			    margin-bottom: 5px;
			}

			.socail-media {

				li {
					padding: 20px;
				    margin-bottom: 10px;

				    a {

				    	.icon {
						    width: 50px;
						    height: 50px;
						    font-size: 12px;
						}
				    }
				}
			}
		}

		&__form {
			margin-top: 30px;
			padding: 25px 20px;

			.form-group {

				.form-control {
					padding: 10px 20px !important;
				}

	            input[type="text"],
	            input[type="number"],
	            input[type="email"],
	            input[type="tel"],
	            input[type="search"],
	            select,
	            textarea {
	                padding: 10px 20px !important;
	            }
			}
		}
	}

	.socail {
	    padding: 50px 0;

	    &__title {
	    	margin-bottom: 20px;
	    }

	    &__media {
	    	margin-left: -1px;
	    	margin-right: -1px;

	    	li {
	    		padding-left: 1px;
    			padding-right: 1px;

	    		a {
	    			width: 50px;
	    			height: 50px;
	    			font-size: 16px;

	    			&.icon-upwork, &.icon-skype, &.icon-behance, &.icon-whatsapp {
	                    font-size: 22px;
	                }
	    		}
	    	}
	    }
	}

	.single-team-member {
		padding: 50px 0;

		.pagination {
			margin-top: 40px;
		}
	}

	/***********************************
	FOOTER STYLE
	***********************************/
	.footer {
		padding: 50px 0;

		&__logo {
			margin-left: 0;
			margin-right: 0;
		}

		&__widget-menu {
			text-align: left;

			li {
				display: block;

				&:not(:first-child) {
				    margin-left: 0;
				}

				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}

			&-nav {
				margin-bottom: 50px;

				&:not(:last-child) {
					margin-bottom: 50px;
				}
			}
		}

		&__widget {
		    margin-bottom: 30px;

		    .form {

		    	.form-group {
		    		margin-bottom: 20px;

		    		.form-control {
					    padding-bottom: 10px !important;
					}
		    	}
		    }
		}
	}

}/* 575 */

@media only screen and (max-width: 480px) {
	section {
		padding: 20px 0;
	}

	p {
		margin: 0 0 20px;
	}

	.page-header {
		padding-top: 75px;
	}

	/***********************************
	HEADER STYLE
	***********************************/
	.header {

		.navbar {

			.navbar-header {

				.navbar-brand {

					img, svg {
					    max-width: 140px;
					}
				}
			}
		}
	}

	.navbar-toggle {
		width: 90px;
		padding: 10px 13px 11px 13px;
	}

	.header-gutter {
		height: 75px;
		min-height: 75px;
	}

	.banner {
		padding-top: 75px;

		&__content {
			margin-top: 30px;

			.description {

				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}

	/***********************************
	BLOG STYLE
	***********************************/

	.blog-detail-page-banner {
		padding-bottom: 40px;

		&__content {

			.socail-media {
			    margin-top: 20px;

			    li {

			    	&:not(:last-child) {
			    		margin-bottom: 10px;
			    	}

			    	a {
					    width: 40px;
					    height: 40px;
					    font-size: 13px;
					    line-height: 40px;

				     	&.icon-upwork, &.icon-behance, &.icon-skype {
	                        font-size: 18px;
	                    }
					}
			    }
			}
		}

		&__media {
			margin-top: 20px;
		}
	}

	.blog-page {
		padding: 50px 0;

		.content-area {

			.blog-post {

				.content__editor {

					p {
					    margin: 0 0 20px !important;
					}
				}
			}

			.pagination {

				a {

					.icon-arrow-left {
					    margin-right: 10px;
					}
				}
			}
		}

		.pagination {

			.socail-media {
			    margin-top: 20px;

			    li {

			    	a {
			    		width: 40px;
			    		height: 40px;
			    		font-size: 12px;
			    		line-height: 40px;
			    	}
			    }
			}

			a {
			    font-size: 14px;
			    line-height: 18px;
			    white-space: nowrap;

			    i {
			    	width: 40px;
			    	height: 40px;
			    	font-size: 10px;
			    	line-height: 40px;
			    }
			}
		}

		&__search-form {
		    margin-bottom: 30px;
		}
	}

	.special {

		&.blog {

			.content {

				.description {
				    margin-top: 10px;

				     p {
				     	font-size: 14px;
				     	line-height: 20px;
				     }
				}
			}
		}

		&__content {
			margin-bottom: 30px;

			.swiper_nav {
			    top: 60px !important;

			    .arrow {
				    width: 40px;
				    height: 40px;

				    span {
				    	font-size: 10px;
				    }
				}
			}
		}
	}

	.socail {
	    padding: 40px 0;

	    &__media {
	    	margin-bottom: -10px;

	    	li {
	    		margin-bottom: 10px;

	    		a {
	    			width: 45px;
	    			height: 45px;
	    			font-size: 14px;

	    			&.icon-upwork, &.icon-skype, &.icon-behance, &.icon-whatsapp {
	                    font-size: 18px;
	                }
	    		}
	    	}
	    }
	}

	.contact-us {

		&__form {
			padding: 20px 12px;
			@include border-radius(16px);

			.form-group {

				.form-control {
					padding: 7px 15px !important;
				}

	            input[type="text"],
	            input[type="number"],
	            input[type="email"],
	            input[type="tel"],
	            input[type="search"],
	            select,
	            textarea {
	                padding: 7px 15px !important;
	            }
			}
		}
	}

	.single-team-member {
		padding: 40px 0;

		&__content {

			.socail-media {

				li {

					a {
					    width: 40px;
					    height: 40px;
					    font-size: 12px;
					    line-height: 40px;

					    &.icon-skype, &.icon-whatsapp {
	                        font-size: 18px;
	                    }
					}
				}
			}
		}

		.pagination {

			.float-right {

				a {

					i {
						width: 40px;
						height: 40px;
						font-size: 10px;
						line-height: 40px;
					}

					.icon-arrow-left {
					    margin-right: 10px;
					}
				}
			}
		}
	}

	.Portfolio-video {
	    min-height: 320px;

	    &.popup-video {

	    	&:before {
			    width: 70px;
			    height: 70px;
			    font-size: 20px;
			    line-height: 70px;
			    top: calc(50% - 35px);
			    left: calc(50% - 35px);
			}
	    }
	}

}/* 480 */

@media only screen and (max-width: 380px) {
	/***********************************
	HEADER STYLE
	***********************************/
}/* 380 */