/***********************************
HEADER STYLES
***********************************/
.scroll-down {

    .header {

        &:not(.sticky) {
            @include transform(translate3d(0, -100%, 0));
        }
    }
}

.header-gutter {
    height: 135px;
    min-height: 135px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
    position: fixed;
    background: #FFF;
    padding: 40px 0;
    @include transition(all 0.5s ease);

    .container {
        position: initial;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar {
        margin: 0;
        padding: 0;

        .navbar-header {

            .navbar-brand {
                margin: 0;
                padding: 0;

                img {
                    width: 180px;
                    @include transition(all 0.5s ease);
                }
            }
        }

        .navbar-collapse {

            .navbar-nav {
                align-items: center;

                &.navbar-nav--right {

                    li {

                        &.btn-menu {
                            margin-left: 20px;

                            a {
                                color: #062d65;
                                font-size: 16px;
                                font-weight: 700;
                                overflow: hidden;
                                line-height: 24px;
                                text-align: center;
                                background: $white;
                                padding: 10px 28px 12px;
                                text-transform: capitalize;
                                @include border-radius(5px);
                                @include letter-spacing(35, 16);
                                @include transition(all 0.3s ease);
                                box-shadow: 0px 12px 12px rgb(0 0 0 / 16%);

                                &:after {
                                    top: 50%;
                                    left: 50%;
                                    content: "";
                                    width: 100%;
                                    height: 0%;
                                    z-index: -1;
                                    background: #FF9C00;
                                    position: absolute;
                                    @include transition(all 0.3s ease);
                                    transform: translate(-50%, -50%) rotate(-45deg);
                                }

                                &:hover, &:focus {
                                    color: #FFF;
                                    background-color: #FF9C00;

                                    &:after {
                                        height: 300%;
                                    }
                                }
                            }
                        }

                        &.has-border {

                            > a {
                                width: 40px;
                                height: 40px;
                                font-size: 15px;
                                overflow: hidden;
                                position: relative;
                                align-items: center;
                                display: inline-flex;
                                justify-content: center;
                                background: transparent;
                                border: 2px solid $primary;
                                @include border-radius(500px);
                                @include transition(all 0.3s ease);

                                span {
                                    text-indent: 2px;
                                    margin-top: -3px;
                                }
                            }

                            &.white {

                                a {
                                    border: 2px solid $black;
                                }
                            }
                        }

                        &.header-search {
                            margin-left: 20px;
                            position: relative;
                            align-items: center;
                            display: inline-flex;

                            .search-box {
                                width: 0;
                                border: 0;
                                opacity: 0;
                                left: -20%;
                                z-index: 1;
                                padding: 10px 15px;
                                visibility: hidden;
                                position: absolute;
                                background: #f5f5f5;
                                top: calc(100% + 14px);
                                @include border-radius(4px);
                                filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.16));
                                transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1);
                                transform: translateX(-50%);

                                &:before {
                                    right: 0;
                                    top: -5px;
                                    left: 60px;
                                    z-index: -1;
                                    content: "";
                                    width: 12px;
                                    height: 12px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    position: absolute;
                                    border-radius: 2px;
                                    background: #f5f5f5;
                                    transform: rotate(45deg);
                                }

                                .form-group {
                                    margin: 0 !important;
                                    padding: 0 !important;
                                    position: relative !important;

                                    &:before {
                                        left: 0;
                                        width: 0;
                                        right: 0;
                                        bottom: 0;
                                        content: "";
                                        height: 1px;
                                        margin-left: auto;
                                        background: #fc5546;
                                        margin-right: auto;
                                        position: absolute;
                                        transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1);
                                    }

                                    .search-input {
                                        font-family: $oswald;
                                        border: 0 !important;
                                        padding: 5px 0 !important;
                                        color: #3B3F43 !important;
                                        font-size: 16px !important;
                                        line-height: 25px !important;
                                        padding-right: 20px !important;
                                        background: transparent !important;
                                    }

                                    .search-submit {
                                        right: 0;
                                        top: auto;
                                        border: 0;
                                        bottom: auto;
                                        color: #fc5546;
                                        font-size: 16px;
                                        position: absolute;
                                        background: transparent;
                                    }
                                }
                            }

                            &.show {

                                .search-toggle {
                                    color: #3B3F43;
                                    background: #EADFD5;
                                    border-color: #EADFD5;
                                }

                                .search-box {
                                    opacity: 1;
                                    width: 380px;
                                    visibility: visible;
                                }

                                .form-group {

                                    &:before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                > li {

                    &:not(:first-child) {
                        margin-left: 30px;
                    }

                    > a {
                        display: block;
                        color: $primary;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 26px;
                        font-family: $oswald;
                        text-transform: uppercase;
                        @include letter-spacing(35, 16);
                        @include transition(all 0.3s ease);
                    }

                    &.cuurent-menu-item, &:hover, &:focus {

                        > a {
                            color: #ffaa17;
                        }
                    }
                }
            }
        }
    }

    &.white {
        padding: 40px 0;

        &.ab {

            .navbar {

                .navbar-collapse {

                    .navbar-nav {

                        > li {

                            a {


                            }

                            &.cuurent-menu-item, &:hover, &:focus {

                                > a {
                                    color: #f51400;
                                }
                            }
                        }
                    }
                }
            }
        }

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    > li {

                        > a {
                            color: $white;
                        }

                        &.cuurent-menu-item, &:hover, &:focus {

                            > a {
                                color: #ffaa17;
                            }
                        }
                    }

                    &.navbar-nav--right {

                        li {

                            &.has-border {

                                > a {
                                    border-color: $white;
                                }
                            }
                        }
                    }
                }
            }

            .navbar-toggle {

                .icon-bar {
                    background-color: $white;
                }
            }
        }

        &.stop {
            padding: 15px 0;
            background: #FFF;
            box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);

            .navbar {

                .navbar-collapse {

                    .navbar-nav {

                        > li {

                            > a {
                                color: #062d65;
                            }

                            &.cuurent-menu-item, &:hover, &:focus {

                                > a {
                                    color: #ffaa17;
                                }
                            }
                        }

                        &.navbar-nav--right {

                            li {

                                &.btn-menu {
                                    margin-left: 20px;

                                    a {
                                        color: $white;
                                        background: #ffa500;

                                        &:hover, &:focus {
                                            background: $black;
                                        }
                                    }
                                }

                                &.has-border {

                                    > a {
                                        border-color: #EADFD5;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .navbar-toggle {

                .icon-bar {
                    background-color: #062D65;
                }
            }
        }
    }

    &.transparent {
        background-color: transparent;
    }

    &.stop {
        padding: 15px 0;
        background: #FFF;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
    }
}


.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    width: 25px;
    display: block;
    border-radius: 0;
    overflow: inherit;
    background: transparent;

    &:hover {

        .icon-bar {

            &:nth-child(1) {
                @include transform(translateY(-2px));
            }

            &:nth-child(3) {        
                @include transform(translateY(2px));
            }
        }
    }

    &:hover, &:focus {

        &:before {
            opacity: 1;
            @include transform(translateX(0));
        }
    }

    &.in {

        .icon-bar {
            @include transition(transform 150ms linear 150ms);

            &:nth-child(1) {
                @include transform(translateY(8px) rotate(45deg));
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {    
                @include transform(translateY(-8px) rotate(-45deg));
            }
        }
    }

    .icon-bar {
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 500px;
        background-color: #062D65;
        transition: transform 150ms linear 150ms;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.sidr {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999999;
    position: fixed;
    max-width: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $white;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.36);

    &.right {
        left: auto;
        right: -100%
    }

    &.left {
        left: -100%;
        right: auto
    }

    .sidr-inner {

        .navbar-header {
            padding: 43px 30px 24px;
            border-bottom: 1px solid $black;

            .logo {
                padding-right: 15px;

                .navbar-brand {
                    margin: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                    img {
                        width: 100%;
                        height: auto;
                        max-width: 117px;
                    }

                    .text {
                        color: $orange;
                        display: block;
                        font-size: 24px;
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-weight: 500;
                        line-height: 34px;
                        font-family: $oswald;
                        text-transform: uppercase;

                        span {
                            color: $orange;
                            display: block;
                            font-size: 84px;
                            font-weight: 600;
                            line-height: 84px;
                            font-family: $oswald;
                        }
                    }
                }
            }

            .navbar-toggle {
                display: block;
            }
        }

        .navigation {

            .gc-mobile-nav {
                overflow: hidden;
                @include transition(all 500ms ease);
            }

            .navbar-nav {
                padding: 0;
                position: relative;

                > li {
                    padding: 20px 30px;
                    border-bottom: 1px solid $black;

                    > a {
                        color: $black;
                        display: block;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 26px;
                        font-family: $oswald;
                        text-transform: uppercase;
                        @include letter-spacing(30, 16);
                        @include transition(all 0.3s ease);

                        &:hover, &:focus {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
}