@media only screen and (max-width: 1800px) {
    /***********************************
        BANNER STYLES
    ***********************************/
    .banner {

    	&__item {

    		.content {
			    margin-top: 180px;
			}
    	}

    	.overlay-media {
		    top: 132px;
		    left: -252px;
		}
    }
}

@media only screen and (max-width: 1480px) {
    /***********************************
        BANNER STYLES
    ***********************************/
    .banner {

		.overlay-media {
		    top: 228px;
		    left: -163px;
			max-width: 1000px;
		}
    }
}
@media only screen and (max-width: 1366px) {
    /***********************************
        BANNER STYLES
    ***********************************/
    .banner {
    	padding: 90px 0;

    	&__item {

    		.content {
			    margin-top: 160px;
			}
    	}

    	.before-media {
    		top: 40px;
    		right: -125px;
    		max-width: 570px;
		}

		.overlay-media {
		    top: 228px;
		    left: -163px;
			max-width: 900px;
		}
    }
}
@media only screen and (max-width: 1199px) {
	h1, .h1 {
	    font-size: 45px;
	    line-height: 55px;
	}

	.container {
		padding-right: 40px;
		padding-left: 40px;
	}

    /***********************************
    HEADER STYLES
    ***********************************/
	.header {

		.container {
			padding-right: 40px;
			padding-left: 40px;
		}

		.navbar {

			.navbar-collapse {

				.navbar-nav {

					li {

						&:not(:first-child) {
							margin-left: 25px;
						}
					}

					&:not(.navbar-nav--right) {

						> li {

							&:nth-child(1) {
								display: none;
							}
						}
					}

					&.navbar-nav--right {

						li {

							&.btn-menu {

								a {
									padding: 8px 25px 10px;
								}
							}
						}
					}

					> li {

						> a {
						    font-size: 18px;
						    line-height: 27px;
						}
					}
				}
			}
		}
	}

    /***********************************
    BANNER STYLES
    ***********************************/
    .banner {
	    padding: 50px 0;

	    .before-media {
		    top: 67px;
		    right: -20px;
		    max-width: 450px;
		}

		.overlay-media {
		    top: 200px;
		    left: -176px;
		    max-width: 800px;
		}
	}
}

@media only screen and (max-width: 991px) {

	h1, .h1 {
	    font-size: 40px;
	    line-height: 50px;
	}

	.container {
		padding-right: 30px;
		padding-left: 30px;
	}

    /***********************************
    HEADER STYLES
    ***********************************/
	.header {
		padding: 25px 0;

		.container {
			padding-right: 30px;
			padding-left: 30px;
		}

		.navbar {

			.navbar-collapse {

				.navbar-nav {

					li {

						&:not(:first-child) {
							margin-left: 25px;
						}
					}

					&:not(.navbar-nav--right) {

						> li {

							&:nth-child(2) {
								display: none;
							}
						}
					}

					&.navbar-nav--right {

						li {

							&.btn-menu {

								a {
									padding: 8px 25px 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	.header-gutter {
		height: 103px;
		min-height: 103px;
	}

    /***********************************
    BANNER STYLES
    ***********************************/

    .banner {
	    padding: 40px 0;

    	.before-media {
			top: 90px;
			right: -0px;
		    max-width: 400px;
		}

		&__item {

			.content {

				.title {
				    margin-bottom: 17px;
				}
			}

			.des {

				.discription {
					font-size: 20px;
				}
			}

			.btn {
			    font-size: 18px;
			    margin-top: 40px;
			    padding: 10px 35px;
			}
		}
    }
}

@media only screen and (max-width: 767px) {
	h1, .h1 {
	    font-size: 35px;
	    line-height: 45px;
	}

	.container {
		padding-right: 20px;
		padding-left: 20px;
	}

    /***********************************
    HEADER STYLES
    ***********************************/

	.header {
		padding: 18px 0;

		.container {
			padding-right: 20px;
			padding-left: 20px;
		}

		.navbar {

			.navbar-header {

				.navbar-brand {

					svg, img {
						max-width: 180px;
					}
				}
			}

			.navbar-collapse {

				.navbar-nav {

					li {

						&:not(:first-child) {
							margin-left: 20px;
						}
					}

					&:not(.navbar-nav--right) {

						> li {

							&:nth-child(3), &:nth-child(4) {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	.header-gutter {
		height: 80px;
		min-height: 80px;
	}
    /***********************************
    BANNER STYLES
    ***********************************/

    .banner {
	    padding: 40px 0;

    	.before-media {
    		top: 150px;
			right: -0px;
		    max-width: 350px;
		}

		.overlay-media {
		    top: 171px;
		    left: -178px;
		    max-width: 600px;
		}

		&__item {

			.content {
				margin-top: 80px;

				.title {
				    margin-bottom: 15px;
				}
			}

			.des {
				max-width: 400px;

				.discription {
					font-size: 15px;
				}
			}

			.btn {
			    font-size: 18px;
				margin-top: 30px;
			    padding: 9px 40px;
			}
		}
    }
}
@media only screen and (max-width: 575px) {
	h1, .h1 {
	    font-size: 30px;
	    line-height: 40px;
	}

	.container {
		padding-right: 15px;
		padding-left: 15px;
	}

    /***********************************
    HEADER STYLES
    ***********************************/

	.header {

		.container {
			padding-right: 15px;
			padding-left: 15px;
		}

		.navbar {

			.navbar-header {

				.navbar-brand {

					svg, img {
						max-width: 160px;
					}
				}
			}

			.navbar-collapse {

				.navbar-nav {

					&:not(.navbar-nav--right) {

						> li {

							&:nth-child(5) {
								display: none;
							}
						}
					}
				}
			}
		}
	}
    /***********************************
        BANNER STYLES
    ***********************************/

    .banner {
	    height: 90vh;

    	.before-media {
    		top: 210px;
			right: 20px;
		    max-width: 320px;
		}

		.overlay-media {
		    top: 170px;
		    left: -178px;
		    max-width: 600px;
		}

		&__item {

			.content {
			    margin-top: 75px;

				.title {
				    margin-bottom: 10px;
				}
			}

			.des {
				max-width: 100%;

				.discription {
					font-size: 15px;
				}
			}

			.btn {
			    font-size: 18px;
				margin-top: 20px;
			    padding: 9px 40px;
			}
		}
    }

    .footer {
    	display: block;
    }
}
@media only screen and (max-width: 480px) {
	h1, .h1 {
	    font-size: 25px;
	    line-height: 35px;
	}

    /***********************************
    BANNER STYLES
    ***********************************/

	.header {

		.navbar {

			.navbar-collapse {

				.navbar-nav {

					&.navbar-nav--right {

						li {

							&.btn-menu {
								display: none;
							}
						}
					}
				}
			}
		}
	}

    /***********************************
    BANNER STYLES
    ***********************************/
    .banner {

    	.before-media {
			top: 290px;
			right: 10px;
			max-width: 280px;
		}

		.overlay-media {
			top: 382px;
			left: -169px;
			max-width: 400px
		}

		&__item {

			.content {
			    margin-top: 75px;
			}

			.des {

				.discription {
					font-size: 14px;
				}
			}

			.btn {
			    font-size: 15px;
				margin-top: 15px;
			    padding: 7px 40px;
			}
		}
    }
}